/.vscode
/10.py
/11.py
/12.py
/13.py
/14game.py
/27.py
/aleen.txt
/cartoonifier-python-project.py
/filebasics.py
/modelv1.h5
/project.ipynb
/unnamed.jpg
/Untitled-1.ipynb
/UserInput_AdditionCalculator.py
/UserInput_Calculator.py
/UserInput_Dictionary.py
/UserInput_Eligiblity.py
/UserInput_FaultyCalculator.py
/Userinput_PatternPrinting.py